*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url("images/leaves.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#main-container{
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:rgba(255,255,255,0.3);
    backdrop-filter: blur(7px);
}
#wrapper{
    margin-top: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;

    p{
        color:rgba(255, 255, 255,0.8) ;
        font-size: 15px;
    }
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;

    .form{
        width: 80%;
        padding: 10px;
    }
    .form label{
        display: block;
        padding: 5px;
        margin: 10px;
        width: 100%;
        font-size: 18px;
        color: white;
        font-weight: 500;
    }
    .form input{
        display: block;
        padding: 5px;
        margin:10px;
        border: none;
        background-color: transparent;
        color: white;
        width: 100%;
    }
    .form input::placeholder{
        color: rgba(255, 255, 255,0.6);
        border-bottom: 1px solid white;  
    }
    .form input:focus{
        outline: none;
    }
    #forgot-password,#register-here{
        margin: 10px;
        display: block;
        font-size: 12px;
        text-decoration: none;
        color: white; 
    }
    p{
        text-align: right;
    } 
    #forgot-password a{
            text-decoration: none;
            color: white;
            font-weight: 600;
    }
    #register-here{
        text-align: center;
    }
    #register-here a{
            text-decoration: none;
            color: white;
            font-weight: 600; 
            padding-left: 5px;
    }
    button{
        margin-top: 50px;
        display: block;
        color: white;
        width: 100%;
        background-color:#000f0a;
        padding: 8px;
        border-radius: 8px;
        font-weight: 600;
    }
    button:hover{
    cursor: pointer;
    }   
}
